# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Mac files
*.DS_Store

# Shapefiles
*.CPG
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx

*.Rproj.user
*.Rproj.user/
.Rproj.user

# Manuscript
*.docx

# Large discharge data
All_UMR_Discharge_1975-2018_LWD.xlsx
pools_discharge_1975_2018.csv
